* {
  margin : 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
  overflow: hidden;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  height: 50px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsRight {
  margin-left: 20px;
}